body {
   
}

header {
    background-image:url("img/fresh_snow.png");
    background-repeat:repeat-x,repeat-y;
    background-attachment:absolute;
}

header div h1{
    position:absolute;
    display:inline-block;
    font-size:26px;
    color:#424242;
    font-family:'Comic Sans MS', cursive;
    margin-left:70px;
}

header div p {
    position:absolute;
    margin-left:340px;
    margin-top:28px;
    display:inline-block;
    font-style:italic;
    color:#424242;
}

header div h3 {
    position:absolute;
    display:inline-block;
    margin-top:85px;
    margin-left:20px;
}

main {
    background-image:url("img/triangular.png");
    background-repeat:repeat-x,repeat-y,;
    background-attachment:absolute;
}

footer {
    background-image:url("img/nice_snow_@2X.png");
    background-repeat:repeat-x,repeat-y;
    background-attachment:absolute;
}

.conteneur {
    width:100%;
    max-width:960px;
    margin:15px;
    padding:10px;
}

img {

    width:20%;
    margin-top:10px;
}

h2 {
    text-align:center;
    background-color:#2E64FE;
    margin-left:60px;
    margin-right:60px;
    border-radius:20px;
}

ul {
    list-style-type:square;
}

a:link {
    text-decoration:none;
    color:#0101DF;
}

a:visited {
    color:red;
}

a:hover {
    color:#7401DF;
}


